#### <font color=magenta> Coded by : Gokul VU :)
## <font color=magenta> Importing neccessary libraries and reading files

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp

ad=pd.read_csv('Advertising.csv')

In [3]:
ad.rename( columns={'Unnamed: 0':'Sl_no'}, inplace=True )
ad.head()

   Sl_no     TV  Radio  Newspaper  Sales
0      1  230.1   37.8       69.2   22.1
1      2   44.5   39.3       45.1   10.4
2      3   17.2   45.9       69.3    9.3
3      4  151.5   41.3       58.5   18.5
4      5  180.8   10.8       58.4   12.9

### <font color=yellow> 1. Explain the dataset

In [4]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sl_no      200 non-null    int64
 1   TV         200 non-null    float64
 2   Radio      200 non-null    float64
 3   Newspaper  200 non-null    float64
 4   Sales      200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

<font color=magenta>The data set contains 4 columns with datatypes as specified in the above table.It's a clean data set with no null values

### <font color=yellow >2. Check the summary statistics and discuss the max, min, avg, median and percentiles.

In [5]:
ad.describe()

            Sl_no          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

### <font color=yellow>3. The manager wants to find out whether the same amount was spentfor the three advertisements (TV , Radio and Newspaper). Comment on your findings.

H0:The amount spent on three advertisemetns are same

H1:The amount spent on advertisements are different

In [7]:
# performing Anova 
import scipy.stats as stats
f_val,p_val=stats.f_oneway(ad["TV"],ad['Radio'],ad['Newspaper'])
print ("f value=",f_val)
print("P value=",p_val)

f value= 358.8514595342597
P value= 4.552931539744962e-103

<font color=magenta>Since p value is less than alpha valur(0.05),null hypothesis is rejected that amount spent on three ad forms are different.