## <font color=red> Importing Libraries and given data set

In [7]:
import os 
import pandas as pd
import numpy as np
import matplotlib as plt

students=pd.read_csv('StudentsPerformance.csv')
students.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

### <font color=red> 1. Find out how many males and females participated in the test.

In [13]:
students["gender"].value_counts()

female    518
male      482
Name: gender, dtype: int64

### <font color=red> 2. What do you think about the students' parental level of education?

In [10]:
print("The most no of parents has attended:",students["parental level of education"].mode())

The most no of parents has attended: 0    some college
dtype: object

### <font color=red> 3. Who scores the most on average for math, reading and writing based on
####   1. Gender

In [70]:
result1=students.groupby("gender")["math score"].mean().nlargest(1)
print("The best mathscore is for",result1)

result2=students.groupby("gender")["reading score"].mean().nlargest(1)
print("\n The best reading score is for",result2)

result3=students.groupby("gender")["writing score"].mean().nlargest(1)
print("\n The best writing score is for",result3)

The best mathscore is for gender
male    68.821577
Name: math score, dtype: float64

 The best reading score is for gender
female    72.590734
Name: reading score, dtype: float64

 The best writing score is for gender
female    72.467181
Name: writing score, dtype: float64

#### <font color=red> 2.Test Preparation Course

In [73]:
result4=students.groupby("test preparation course")["math score"].mean().nlargest(1)
print("The best mathscore is for those",result4)

result5=students.groupby("test preparation course")["reading score"].mean().nlargest(1)
print("\n The best reading score is for those ",result5)

result6=students.groupby("test preparation course")["writing score"].mean().nlargest(1)
print("\n The best writing score is for those ",result6)

The best mathscore is for those test preparation course
completed    69.96648
Name: math score, dtype: float64

 The best reading score is for those  test preparation course
completed    74.175978
Name: reading score, dtype: float64

 The best writing score is for those  test preparation course
completed    74.684358
Name: writing score, dtype: float64

### <font color=red> 4. What do you think about the scoring variation for math, reading and writing based on

#### 1. Gender

In [81]:
r7=students.groupby("gender")["math score"].var()
print("The scored variation for math grouped by gender is\n",r7)

r8=students.groupby("gender")["reading score"].var()
print("\n The scored variation for math grouped by gender is\n",r8)

r9=students.groupby("gender")["writing score"].var()
print("\n The scored variation for math grouped by gender is",r9)

The scored variation for math grouped by gender is
 gender
female    256.958593
male      211.889097
Name: math score, dtype: float64

 The scored variation for math grouped by gender is
 gender
female    207.677438
male      200.211010
Name: reading score, dtype: float64

 The scored variation for math grouped by gender is gender
female    220.369327
male      202.413924
Name: writing score, dtype: float64

#### <font color=red> 2.Test Preparation Course

In [84]:
r10=students.groupby("test preparation course")["math score"].var()
print("The scored variation for math grouped by Test Preparation Course is\n",r10)

r11=students.groupby("test preparation course")["reading score"].var()
print("\n The scored variation for reading grouped by Test Preparation Course is\n",r11)

r12=students.groupby("test preparation course")["writing score"].var()
print("\n The scored variation for writing grouped by Test Preparation Course is\n",r12)

The scored variation for math grouped by Test Preparation Course is
 test preparation course
completed    210.884027
none         246.668662
Name: math score, dtype: float64

 The scored variation for reading grouped by Test Preparation Course is
 test preparation course
completed    183.265864
none         213.419851
Name: reading score, dtype: float64

 The scored variation for writing grouped by Test Preparation Course is
 test preparation course
completed    175.202612
none         226.251739
Name: writing score, dtype: float64

### <font color ='red'> 5. The management needs your help to give bonus points to the top 25% of students based on their maths score, so how will you help the management to achieve this:

In [107]:
top_students= students[(students["math score"] > students['math score'].quantile(0.25))]
top_students

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
999,male,group E,bachelor's degree,standard,completed,100,100,100
517,female,group E,associate's degree,standard,none,100,100,100
515,female,group E,some college,standard,none,100,92,97
998,male,group E,associate's degree,free/reduced,completed,100,100,93
516,female,group E,bachelor's degree,standard,none,100,100,100
...,...,...,...,...,...,...,...,...
629,male,group C,high school,standard,completed,58,52,54
628,male,group C,associate's degree,free/reduced,none,58,55,53
625,male,group C,high school,free/reduced,none,58,61,52
624,male,group C,some college,standard,none,58,49,42
174,female,group D,some college,free/reduced,completed,58,63,73